<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
<form class="form-group" enctype="multipart/form-data" action="" method="post">
<input type="hidden" name="id" value="<?=$data['category'][0]['id']?>"/>
<label for="category">Category:</label>
<input type="text" id="category" name="category" class="form-control" value="<?=$data['category'][0]['category']?>"><br/>
<input type="submit" class="btn btn-success btn-block" value="Save">
</form>
        </div>
    </div>
</div>