<div class="container">

    <div class="starter-template">
        <a href="/admin/categories" class="btn btn-default btn-block">News Categories</a>
        <a href="/admin/posts" class="btn btn-default btn-block">News</a>
        <a href="#" class="btn btn-default btn-block">Comments</a>
        <a href="#" class="btn btn-default btn-block">Advertising</a>
        <a href="#" class="btn btn-default btn-block">Site menu</a>
        <a href="/admin/sites" class="btn btn-default btn-block">Background color on the site</a>
    </div>

</div>