<h3 style="text-align: center;color: #0b8505">Registration</h3><br/>
<form  method="post" action="" enctype="multipart/form-data">
<div class=form-group">
        <label for="name">Your name(login):</label>
        <input type="text" id="name" name="login" value="" class="form-control" />
</div>
<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="" class="form-control" />
</div>
<div class="form-group">
    <label for="password">Password:</label>
    <input name="password" id="password" class="form-control" />
</div>
<input type="submit" class="btn btn-success btn-block" value="Register" />
</form>