<?php $user = Session::get('user_id') ?>
<div class="container">
    <div class="row">
<form class="form-group" action="/comments/add_to" method="post">
    <input type="hidden" name="id_comment" value="<?=$data['id']?>"/><br/>
    <input type="hidden" name="id_user" value="<?=$user?>"/><br/>
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <textarea name="content" class="form-control" placeholder="Comment"></textarea><br/>
    </div>
    <input type="submit" value="Send" class="btn btn-success btn-block">
</form>
    </div>
</div>